<% include includes/headers.ejs %>

<div class="container text-center">

    <div class = "text-center">
        <h1 class = "title1" ><strong id="titlecolor">$Budget$  </strong>  Tracker</h1>
    </div>
    <div class = "topnav">
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
    </div>
        <div class = "boxmessage">Here you can manage and track your money to stay and get out of DEBT!!!</div>
    <div class = "boxsignup">Sign Up Today by clicking the "Signup" button on the top-right corner. It's FREE!!!</div>
        
</div>
    <img class="frontpic" src="../images/budgettracker.png" alt="budget_tracker">
  <div class ="bottom">
    <p>Demo Test:</p>
    <p>Here is a username and password for everyone to test and access.</p>
    <span class="login-title">Login Information:</span><p class="info-password1">Email:demo@123.com</p><p class="info-password2">Password:demo123</p>
    </div>
<% include includes/footers.ejs %>
